@model IteraTestTask.Models.FoodOrder

@{
    ViewBag.Title = "Create Food Order";
}

<h2>Create a new food order</h2>


@using (Html.BeginForm())
{
<fieldset>
    <legend> Food Order </legend>

    <p>
        @Html.LabelFor(m => m.DishName)
        <br />
        @Html.EditorFor(m => m.DishName)
        @Html.ValidationMessageFor(m => m.DishName)
    </p>

    <p>
        @Html.LabelFor(m => m.Count)
        <br />
        @Html.EditorFor(m => m.Count)
        @Html.ValidationMessageFor(m => m.Count)
    </p>
    
    <p>
        <input type="submit" value="Add new Order"/>
    </p>
</fieldset>
}
